body {	

font-family: arial;
background: #123456;




}

.rotate { 	
transform: rotate(180deg);
 }

 ol {
 	background-color: green;
 }
 
 p {
background-color: green;
 }

 img {
width: 20%;
 }