body {	

font-family: arial;
<<<<<<< HEAD
background: #123456;
=======
background: red;



>>>>>>> parent of 7597ac7... color change grey black
}

.rotate { 	
transform: rotate(180deg);
 }

 ol {
 	background-color: green;
 }
 
 p {
background-color: green;
 }

 img {
width: 20%;
 }